body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-box {
    background: linear-gradient(135deg, #ff6b6b, #556270);
    padding: 50px;
    border-radius: 50px;
    text-align: center;
    width: 500px;
    height: 930px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin: 10px 0;
}

.description {
    font-size: 19px;
    margin-bottom: 30px;
}

.social-links a {
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 20px;

}

.social-links a:first-child {
    margin-top: 5px;
    background-color: #E1306C;
}

.social-links a:nth-child(2) {
    background-color: #010101;
}

.social-links a:nth-child(3) {
    background-color: #1DB954;
}

.social-links a:hover {
    text-decoration: underline;
    text-align: center;
}

/* Karanlık ve aydınlık tema desteği */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    .profile-box {
        background: linear-gradient(135deg, #6b6bff, #70c1b3);
    }
}
