body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Alternatif olarak 'Open Sans' kullanabilirsiniz */
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.profile-box {
    background: linear-gradient(135deg, #ff6b6b, #556270);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.profile-img {
    width: 150px; /* Fotoğraf boyutu */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 450px;
    margin-top: 40px;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Sosyal medya butonları için özel renkler */
.social-links a.instagram {
    background-color: #E1306C; /* Instagram rengi */
}

.social-links a.tiktok {
    background-color: #010101; /* TikTok rengi */
}

.social-links a.spotify {
    background-color: #1DB954; /* Spotify rengi */
}

/* Duyarlı tasarım için medya sorgusu */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .profile-img {
        width: 120px; /* Küçük ekranlar için fotoğraf boyutu */
        height: 120px;
    }

    .social-links a {
        font-size: 16px;
        padding: 12px 15px;
    }
}
